
# Batch Files
*.bat

# CMake Things
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Binary Files
*.exe
*.o

# Gene Sequence Files
*.pep
*.fas
*.fa
*.gbff
